@import url(../bower_components/source-sans-pro/source-sans-pro.css);

@font-face {
    font-family: RobotoBold;
    src: url(../fonts/RobotoBold/RobotoBold.ttf);
}

@font-face {
    font-family: RobotoLight;
    src: url(../fonts/RobotoLight/RobotoLight.ttf);
}

@font-face {
    font-family: RobotoMedium;
    src: url(../fonts/RobotoMedium/RobotoMedium.ttf);
}

@font-face {
    font-family: RobotoRegular;
    src: url(../fonts/RobotoRegular/RobotoRegular.ttf);
}

.contain {

}

header {
	position: fixed;
	z-index: 5;
	background-color: rgb( 0, 87, 156);
	color: white;
	box-shadow: 0px 0px 10px black;
}

body, html {
	height: 100%;
	/*font-family: RobotoLight;*/
	font-family: 'Source Sans Pro', Arial, serif;
	font-weight: 200;
}

header li {
	list-style: none;
	font-size: 1.2rem;
}

h2 {
	margin: 0 !important;
	text-align: center;
	font-family: 'Source Sans Pro', Arial, serif;
	font-weight: 200;
}

.fade {
	background-color: rgba(  49, 49, 49, 0.59);
}

.blue {
	background-color: rgb( 2, 135, 209);
}

.header-icon {
	height: auto;
	width: 23px;
}

.left-info {
	padding-left: 5%;
}

.prise {
	margin-top: 30px;
	background-image: url(../images/Fon5.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: center;
	color: white;
}

.col {
	color: #d8d8d8;
}

main {
	position: relative;
}

.prise span {
	width: 100%;
	text-align: center;
}

.prise span:first-child {
	font-size: 4.2rem;
}

.prise span:nth-child(2) {
	border: 2px solid grey;
	width: 15%;
	padding: 10px;
}

.prise span:nth-child(3) {
	margin-top: 2%;
}

header span {
	margin-left: 5px;
}

main {
	position: relative;
	min-height: 100%;
}

.selection h2 {
	border-bottom: 2px solid #1900A6;
	font-size: 2.2rem;
	color: #1900A6;
}

.main-carousel {
	width: 100%;
	height: 100%;
}

.carousel-cell {
	height: 100%;
	width: 100%;
}

.main-carousel img {
	width: 90%;
	height: 90%;
	position: absolute;
	margin: 0 auto;
	left: 0;
	right: 0;
	margin-top: 5%;
}

.main-carousel-container {
	flex-wrap: nowrap;
}

.flickity-prev-next-button:active {
	transform: translateY(-50%);
}

.first {
	background-image: url(../images/Geo_36_5.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: center;
}

.second {
	background-image: url(../images/FonShesterni_32_5.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: center;
}

.first span {
	position: absolute;
	left: 0;
    width: 100%;
    text-align: center;
    font-size: 2.3rem;
    color: white;
}

.second span {
	position: absolute;
	left: 0;
    width: 100%;
    text-align: center;
    font-size: 2.3rem;
    color: white;
}

.servise {
    padding: 20px;
    background-color: rgb( 139, 75, 74);
    color: white;
}

.pay {
    padding: 20px;
    background-color: rgb( 62, 135, 141);
    color: white;
}

.servise div:first-child {
	background-image: url(../images/ManagedServices_Icon_ContactCenter.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.servise div:nth-child(2) {
	font-size: 2rem;
	margin-left: 2%;
}

.pay div:first-child {
	font-size: 2rem;
	margin-left: 2%;
}

.pay div:nth-child(2) {
	background-image: url(../images/Beznalichnyi_774_-rasche_776_t-cherez-terminal.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.pay div:nth-child(3) {
	background-image: url(../images/koshelek.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

footer {
	position: relative;
	height: 100%;
	color: rgb( 0, 87, 156);
	font-size: 23px;
}

footer span {
	padding: 10px 0 10px 0;
	text-align: center;
}

footer .line {
	border: 2px solid rgb( 0, 87, 156);
}

input {
	background-color: rgb( 0, 87, 156);
	border-radius: 5px;
	height: 40px;
	color: white;
	padding-left: .5rem;
}

textarea {
	background-color: rgb( 0, 87, 156);
	margin-bottom: 10px;
	border-radius: 5px;
	height: 100px;
	color: white;
	resize: none;
}



input[type=submit] {
	background-color: white;
	border-radius: 5px;
	border: 2px solid rgb( 0, 87, 156);
	color: rgb( 0, 87, 156);
	padding: 10px;
	float: right;
}

.mar {
	margin-top: 45px; 
}

.but {
	cursor: pointer;
}

.pad {
	display: flex;
	height: 74px;
	align-items: flex-end;
}

.flickity-prev-next-button {
	background: rgba( 0, 0, 0, 0);
}

.flickity-prev-next-button:hover {
	background: none;
}

.arrow {
	fill: white !important;
}

.arrow:hover {
	background-color: none;
}

button:hover {
	box-shadow: none;
}

p {
	font-family: RobotoMedium;
}

.lh {
	line-height: 1.2;
	padding-bottom: 0;
}